{% assign entries = include.entries | default: site[include.collection] | where_exp: "post", "post.hidden != true" %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
  {% if include.type == "cards" %}
    {% include archive-card.html %}
  {% else %}
    {% include archive-single.html type=include.type %}
  {% endif %}
{%- endfor -%}
